%h1 Your Friends
%ul#friendsList


%h2 Your friend is not here? Send an invitation
.field
  =form_tag "/users/invite" do
    =label_tag :email, "Your friend's email"
    =email_field_tag :email
    =submit_tag "Send"


