@import "mixins"
@import "font_faces"

$bg_color: #A8BEA9

.field
  label
    display: block

.blue
  color: #3F65CE

html
  height: 100%
  +gradient-bg(#B9B9B9, #DCDCDC)

body
  padding: 0 10%
  text-align: center

  .container
    font-family: VarelaRoundRegular
    position: relative
    display: block
    text-align: left
    height: 100%
    background-color: white
    padding: 2em
    +border-radius(5px)

  input[type='text'], input[type='email'], input[type='password']
    border: solid 1px
    +border-radius(5px)


.even
  background-color: #DCDCDC !important

.odd
  background-color: #B9B9B9 !important
